In [1]:
i=1
while i<=5:
    s='*'*i
    print(s)
    i=i+1

*
**
***
****
*****

In [2]:
i=1
while i<=5:
    s=str(i)*i
    print(s)
    i=i+1

1
22
333
4444
55555

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j+i,end='')
    print()

2
34
456
5678
678910

In [5]:
for i in range(1,6):
    for j in range(1,i+1):
        if (i+j)%2==0:
            print(1,end='')
        else:
            print(0,end='')
    print()

1
01
101
0101
10101

In [6]:
n=0
for i in range(1,6):
    for j in range(1,i+1):
        n=n+1
        print(n,end='')
    print()

1
23
456
78910
1112131415

In [7]:
for i in range(5,-1,-1):
    for j in range(5,i,-1):
        print(j,end='')
    print()

5
54
543
5432
54321

In [8]:
i=1
n=5
while i<=5:
    s=str(n)*i
    print(s)
    i=i+1
    n=n-1

5
44
333
2222
11111

In [9]:
i=5
while i>=1:
    s='*'*i
    print(s)
    i=i-1

*****
****
***
**
*

In [10]:
i=5
n=1
while i>=1:
    s=str(n)*i
    print(s)
    if i<=5//2+1:
        n=n-1
    else:
        n=n+1
    i=i-1

11111
2222
333
22
1

In [11]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end='')
    print()

12345
1234
123
12
1

In [12]:
i=5
n=5
while i>=1:
    s=str(n)*i
    print(s)
    i=i-1
    n=n-1

55555
4444
333
22
1

In [13]:
for i in range(0,5):
    for j in range(5,i,-1):
        print(j,end='')
    print()

54321
5432
543
54
5

In [14]:
i=1
while i<=5:
    s='* '*i
    print(s.center(10))
    i=i+1

    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
for i in range(1,6):
    s=''
    for j in range(1,i+1):
        s=s+str(j)+' '
    print(s.center(10))

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [16]:
i=1
while i<=5:
    s='*'*i
    print(s.rjust(5))
    i=i+1

    *
   **
  ***
 ****
*****

In [17]:
for i in range(1,6):
    s=''
    for j in range(1,i+1):
        s=s+str(j)
    print(s.rjust(5))

    1
   12
  123
 1234
12345

In [18]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

    *
   ***
  *****
 *******
*********

In [19]:
n=1
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n+1

    1
   222
  33333
 4444444
555555555

In [20]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

    1
   123
  12345
 1234567
123456789

In [21]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+'* '
    print(s.center(20))

         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *

In [22]:
n=0
for i in range(1,6):
    st=''
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    1
   232
  34543
 4567654
567898765

In [23]:
for i in range(1,6):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

    5
   545
  54345
 5432345
543212345

In [24]:
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

*********
 *******
  *****
   ***
    *

In [25]:
n=5
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n-1

555555555
 4444444
  33333
   222
    1

In [26]:
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

123456789
 1234567
  12345
   123
    1

In [27]:
for i in range(5,0,-1):
    st=''
    n=i-1
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

567898765
 4567654
  34543
   232
    1

In [28]:
for i in range(5,0,-1):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

543212345
 5432345
  54345
   545
    5

In [29]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [30]:
n=1
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n+1
n=4
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n-1

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

In [31]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

In [32]:
n=0
for i in range(1,6):
    st=''
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))
for i in range(4,0,-1):
    st=''
    n=i-1
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    1
   232
  34543
 4567654
567898765
 4567654
  34543
   232
    1

In [33]:
for i in range(1,6):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))
for i in range(4,0,-1):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

    5
   545
  54345
 5432345
543212345
 5432345
  54345
   545
    5

In [34]:
for i in range(1,8):
    for j in range(1,8):
        print('*',end='')
    print()

*******
*******
*******
*******
*******
*******
*******

In [35]:
for i in range(1,8):
    for j in range(1,8):
        if i in (1,7):
            print('*',end='')
        elif j in (1,7):
            print('*',end='')
        else:
            print(' ',end='')
    print()

*******
*     *
*     *
*     *
*     *
*     *
*******

In [36]:
for i in range(1,8):
    for j in range(1,8):
        if i==j:
            print('\\',end='')
        elif i+j==8:
            print('/',end='')
        else:
            print('*',end='')
    print()

\*****/
*\***/*
**\*/**
***\***
**/*\**
*/***\*
/*****\

In [38]:
r=int(input('Enter no of rows: '))
c=int(input('Enter no of columns: '))
for i in range(1,r//2+1):
    s=''
    for j in range(1,2*i):
        s=s+'.|.'
    print(s.center(c,'-'))
print('WELCOME'.center(c,'-'))
for i in range(r//2,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'.|.'
    print(s.center(c,'-'))

Enter no of rows: 11
Enter no of columns: 33
---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------WELCOME-------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [39]:
s=int(input('Enter size: '))
for i in range(1,s+1):
    l=[]
    n=97+s
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        l.append(chr(n))
    st='-'.join(l)
    print(st.center(37,'-'))
for i in range(s-1,0,-1):
    l=[]
    n=97+s
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        l.append(chr(n))
    st='-'.join(l)
    print(st.center(37,'-'))

Enter size: 10
------------------j------------------
----------------j-i-j----------------
--------------j-i-h-i-j--------------
------------j-i-h-g-h-i-j------------
----------j-i-h-g-f-g-h-i-j----------
--------j-i-h-g-f-e-f-g-h-i-j--------
------j-i-h-g-f-e-d-e-f-g-h-i-j------
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
------j-i-h-g-f-e-d-e-f-g-h-i-j------
--------j-i-h-g-f-e-f-g-h-i-j--------
----------j-i-h-g-f-g-h-i-j----------
------------j-i-h-g-h-i-j------------
--------------j-i-h-i-j--------------
----------------j-i-j----------------
------------------j------------------